@import url(https://fonts.googleapis.com/css?family=Open+Sans|Rubik);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, h1, h2, h3, h4, p, div {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.scroll_container {
  display: flex; }

.graphic_container {
  flex: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 50;
  align-self: start;
  display: flex;
  justify-content: center; }

.text {
  flex: 2;
  grid-area: text;
  position: relative;
  background-color: lightgray;
  min-height: 5000px; }

.step:nth-child(n+2) {
  margin-top: 50%; }

.intro {
  margin-top: 200px; }

