//border box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

//default styles

html,body,h1,h2,h3,h4,p,div{
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
}

//scroll and graphics containers

.scroll_container {
  display: flex;
}


.graphic_container {
  flex: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 50;
  align-self: start;
  display: flex;
  justify-content: center;

}

.text {
  flex: 2;
  grid-area: text;
  position: relative;
 
}

.step {
  padding-left: 10%;
  padding-right: 20%;
  padding-bottom: 75%;
}

.section_title {
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 30%;
}

.intro {
  padding-top: 50%;
}



