.scroll_container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-areas: "text graphic";
  grid-gap: 20px;
}


.sticky_graphic {
  grid-area: graphic;
  position: -webkit-sticky;
  position: sticky;
  top: 70;
  background-color: rosybrown;
  align-self: start;
}

.text {
  grid-area: text;
  position: relative;
  background-color: lightgray;
  min-height: 5000px;
}

.step {
  
}

.intro {
  margin-top: 200px;
}

svg {
  margin: 0 auto;
}

